@import '../../../../../variable';

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid $border-color-base;
    padding: 10px 20px 0;    
}

.state {
    display: flex;
    text-align: center;

    .radio {
        border: 1px solid $border-color-base;
        min-width: 100px;
        cursor: pointer;
        padding: 5px;

        &:hover {
            color: $color-primary;
        }

        &:not(:last-child) {
            border-right: none;
        }
    }

    .radio.active {
        background-color: $color-primary;
        color: #fff;
    }
}